@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Manrope:wght@300;400;700&display=swap');

a {
    transition: 0.3s;
    text-decoration: none;
}

.about_photo {
    width: calc(10vw + 30vh);
    margin-left: 1%;
    margin-right: 1%;
    margin-top: calc(2vh + 1vw);
    margin-bottom: calc(2vh + 1vw);
    border-radius: 2rem;
}

.big_text {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: calc(5vw + 4rem);
    background: -webkit-linear-gradient(60deg, rgb(194, 55, 55), rgb(84, 101, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
    margin-bottom: 3rem;
    transition: 0.5s;
}

.big_text:hover {
    font-size: calc(6vw + 4rem);
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 45, 45);
    margin: 0;
}

#contact img {
    height: calc(3vh + 1.5rem);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.3s;
}

#contact img:hover {
    box-shadow: 0px 0px 5px 5px rgba(242, 242, 242, 0.5);
}

div a {
    color: rgb(84, 101, 255);
}

div a:hover {
    color: rgb(56, 72, 210);
}

.featured {
    height: calc(15vw + 6rem);
    border-radius: 1.5rem;
    transition: 0.3s;
    margin: 0.5rem;
}

.featured:hover {
    opacity: 0.5;
}

.flex_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex_items #about {
    width: auto;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 40rem;
}

footer {
    font-size: calc(1.5vh + 4px);
    font-family: 'Manrope', sans-serif;
    padding: 1rem;
    background-color: rgba(242, 242, 242, 0.8);
    position: relative;
}

h1, h2, h3, .overlay {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: calc(2vh + 24px);
}

h2 {
    font-size: calc(2vh + 12px);
}

h3, .overlay {
    font-size: calc(2vh + 4px);
}

html {
    scroll-behavior: smooth;
}

.intro_flex {
    height: 25rem;
    border-radius: 1.5rem;
}

nav {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    margin-top: calc(2vw + 10px);
}

nav ul {
    padding: 0;
}

nav ul a {
    font-size: calc(2vh + 4px);
    margin: calc(2vw + 10px);
    color: rgb(45, 45, 45);
}

nav ul a:hover {
    color: rgb(126, 126, 126);
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: calc(1.5vh + 6px);
}

.page_header {
    text-align: center;
    margin: 3rem;
}

.pbox {
    text-align: center;
    box-shadow: 0px 0px 0.75rem 0.75rem rgba(242, 242, 242, 0.5);
    border-radius: 2rem;
    padding: 2rem;
    transition: 0.3s;
    margin-top: calc(2% + 1vw);
    margin-bottom: calc(2% + 1vw);
    margin-left: 4%;
    margin-right: 4%;
}

.pbox ul {
    padding: 0;
}

/* Floating animation credit to https://www.geeksforgeeks.org/css-floating-animation */
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }   
}

/* Footer code credit to https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
#page_container {
    position: relative;
    min-height: 100vh;
  }
  
#content_wrap {
    padding-bottom: 3rem; /* Footer height */
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.25rem; /* Footer height */
}

/* Hover overlay credit to https://www.w3schools.com/HOWTO/howto_css_image_overlay_title.asp */

* { 
    box-sizing: border-box; 
}

.overlay {
    position: absolute; 
    transition: 0.3s;
    opacity: 0;
    color: rgb(45, 45, 45);
    text-align: center;
    justify-content: center;
    margin-top: -4.5rem;
    padding-left: 3rem;
    font-weight: bold;
}

.container:hover .overlay {
    opacity: 1;
}
