@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    transition: 0.3s;
}

.about_photo {
    border-radius: 2rem;
    margin: calc(2vh + 1vw) 1% calc(2vh + 1vw) 1%; /* margin: top right bottom left */
    width: calc(10vw + 30vh);
}

.big_text {
    font-family: 'Figtree', sans-serif;
    font-size: calc(5vw + 4rem);
    background: -webkit-linear-gradient(60deg, rgb(218, 55, 55), rgb(84, 101, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    transition: 0.5s;
}

.big_text:hover {
    font-size: calc(6vw + 4rem);
}

body {
    background: linear-gradient(45deg, rgb(28, 28, 28), rgb(27, 33, 48));
    color: rgb(220, 220, 220);
    margin: 0;
}

body, h1, h2, h3, nav ul a {
    color: rgb(220, 220, 220);
}

.contact_icon {
    background: rgba(168, 161, 182, 0.4);
    border-radius: 20%;
    height: calc(1vw + 3rem);
    padding: 0.75rem;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: contain;
    opacity: 0.9;
    transition: 0.3s;
    width: calc(1vw + 3rem);
}

.contact_icon:hover {
    background: rgba(168, 161, 182, 0.2);
    border-radius: 30%;
}

div a {
    color: rgb(84, 101, 255);
}

div a:hover {
    color: rgb(56, 72, 210);
}

.featured {
    height: calc(15vw + 6rem);
    border-radius: 0.8rem;
    transition: 0.3s;
    margin: 0.5rem;
}

.featured:hover {
    opacity: 0.5;
}

.flex_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex_items #about {
    width: auto;
    margin: 0 4% 0 4%;
    max-width: 40rem;
}

footer {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgb(187, 187, 187);
    font-family: 'Assistant', sans-serif;
    font-size: calc(1.5vh + 4px);
    padding: 2rem;
    position: relative;
    text-align: center;
}

.footer_link {
    color: rgb(187, 187, 187);
}

.footer_link:hover {
    color: rgb(143, 143, 143);
}

h1, h2, h3, .overlay {
    font-family: 'Figtree', sans-serif;
}

h1 {
    font-size: calc(2vh + 24px);
}

h2 {
    font-size: calc(2vh + 12px);
}

h3, .overlay {
    font-size: calc(2vh + 4px);
}

html {
    scroll-behavior: smooth;
}

.intro_flex {
    border-radius: 1.5rem;
    height: 25rem;
}

nav {
    font-family: 'Figtree', sans-serif;
    text-align: center;
}

nav ul {
    padding: 0;
}

nav ul a {
    display: inline-block;
    font-size: calc(2vh + 4px);
    margin: calc(1vw + 5px) calc(2vw + 10px) calc(1vw + 5px) calc(2vw + 10px);
}

nav ul a:hover {
    color: rgb(143, 143, 143);
}

p {
    font-family: 'Assistant', sans-serif;
    font-size: calc(1.5vh + 6px);
}

.page_header {
    margin: 3rem;
    text-align: center;
}

.pbox {
    background: linear-gradient(45deg, rgb(28, 28, 28), rgb(27, 33, 48));
    border-radius: 2rem;
    box-shadow: 0px 0px 0.75rem 0.75rem rgba(168, 161, 182, 0.1);
    margin: calc(2% + 1vw) 4% calc(2% + 1vw) 4%;
    padding: 2rem;
    text-align: center;
    transition: 0.3s;
}

.pbox ul {
    padding: 0;
}

/* floating animation credit to https://www.geeksforgeeks.org/css-floating-animation */
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }   
}

/* footer code credit to https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
#page_container {
    min-height: 100vh;
    position: relative;
}
  
/*#content_wrap {
    padding-bottom: 4rem; //footer height
}
  
#footer {
    bottom: 0;
    height: 4rem; // footer height
    position: absolute;
    width: 100%;
}*/

/* hover overlay credit to https://www.w3schools.com/HOWTO/howto_css_image_overlay_title.asp */
* {
    box-sizing: border-box; 
}

.overlay {
    color: rgb(220, 220, 220);
    font-weight: bold;
    justify-content: center;
    opacity: 0;
    margin-top: -4.5rem;
    padding-left: 3rem;
    position: absolute;
    text-align: center;
    transition: 0.3s;
}

.container:hover .overlay {
    opacity: 1;
}
