/*CSS for my website*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prompt:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    color: rgb(244, 255, 95);
    transition: 0.2s;
}

a:hover {
    transition-timing-function: fade-in-out;
    color: rgb(177, 177, 177);
}

a[href="sophie900_website.html"] {
    position: absolute;
    top: 20px;
    left: 20px;
}

.big {
    font-size: 48px;
    font-family: Prompt, Inter, sans-serif;
}

.big-2 {
    font-size: 48px;
    font-family: Prompt, Inter, sans-serif;
    padding-top: 50px;
}

.big-3 {
    font-size: 48px;
    font-family: Prompt, Inter, sans-serif;
    padding-top: 50px;
}

.bg {
    width: 1500px;
    position: fixed;
    top: -100px;
    z-index: -1;
    opacity: 0.4;
}

.banner {
    text-align: center;
    padding: 150px;
}

body {
    color: rgb(230, 230, 230);
    font-family: inter, sans-serif;
    margin: 0px;
    background: rgb(40, 40, 40);
}

div {
    background: rgb(40, 40, 40);
}

.down-button {
    width: 30px;
    display: block;
    margin: 0 auto;
    padding: 50px;
    transition: 0.2s;
}

.down-button:hover {
    background: rgba(255, 255, 255, 0.2);
    transition-timing-function: ease-in-out;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

h1 {
    font-size:72px;
}

h2 {
    font-size: 48px;
    font-family: Prompt, Inter, sans-serif;
    margin-left: 10%;
}

.header {
    background: rgb(30, 30, 30);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.home-art-more {
    padding-top: 10px;
}

.home-text {
    vertical-align: top;
    margin-left: 70px;
    margin-right: 70px;
}

.home-text-small {
    margin-left: 500px;
    padding: 10px;
}

.icon {
    width: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-big {
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    vertical-align: top;
    float: left;
}

nav {
    background:rgba(40, 40, 40, 0.7);
    margin-top: 0px;
    text-align: right;
    padding: 35px;
}

nav a {
    margin: 3%;
}

nav a {
    text-decoration: none;
}

p {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    background: rgb(40, 40, 40);
}

.ref-box {
    margin: 10px;
    text-align: center;
}

.ref-box img {
    transition: opacity 0.2s;
    transition-timing-function: ease-in-out;
    width: 420px;
}

.ref-box img:hover {
    opacity: 50%;
    cursor: pointer;
}

#s1 {
    background: rgb(40, 40, 40);
    padding: 5%;
    height: 400px;
}

#s2, #home-flex, #home-flex div, .big-2, .home-art-more {
    background:rgb(64, 92, 84);
}

#s3, #s3 .home-text, .icon {
    background:rgb(30, 30, 30);
}
