.footer-main {
  position: relative;
  bottom: 0;
  background-color: var(--footer-color);
  padding: 5vh;
}

.footer-main,
.f-link {
  color: var(--tan);
  transition: var(--fast-transition);
}

.f-link:hover {
  color: var(--salmon);
}

.f-link {
  display: inline-flex;
  text-decoration: none;
  margin: 0vh 2vw 1vh 2vw;
}

.footer-container {
  align-items: center;
  text-align: center;
  height: calc(1vh + 10px);
  margin-bottom: 8vh;
}

.footer-links {
  font-family: var(--main-font);
  font-size: 16px;
}

.footer-title {
  font-family: var(--header-font);
  font-size: 12px;
  font-weight: 400;
  margin-top: 3vh;
}
