@media screen and (min-width: 300px) {
  nav li {
    padding: 0.5vh 4vw 0 4vw;
  }

  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav #ul-1,
  nav #ul-2 {
    height: 0;
    max-height: 0; /* for dropdown transition */
    overflow: hidden;
    flex-direction: column;
    margin-bottom: 10px;
    transition: all var(--slower-transition);
  }

  #ul-1 {
    visibility: hidden;
  }

  #ul-2.open {
    height: auto;
    max-height: 200px; /* adjust based on height of dropdown */
    display: flex;
    background-color: var(--background-color);
    border-radius: 6px;
  }

  #ul-2 li {
    /* background-color: var(--tan); */
    margin: 0;
  }

  #ul-2 .nav-link:hover {
    background-color: var(--tan);
  }
}

@media screen and (min-width: 600px) {
  nav li {
    margin: 0 5vw 0 5vw;
    padding: 0;
  }

  nav .menu {
    display: none;
  }

  nav #ul-1 {
    display: inline-block;
    height: auto;
    max-height: none;
    visibility: visible;
    opacity: 1;
  }

  nav #ul-2 {
    visibility: hidden;
  }

  nav li:hover {
    background: none;
  }
}

.navbar {
  font-family: var(--body-font);
  font-size: 15px;
  padding: 25px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  height: 4rem;
  /* width: 100%; for some reason this messes things up */
  margin: 0 2vh 3vh 2vh;
}

.navbar ul {
  margin: 0 4rem 0 4rem;
  padding: 0;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
}

.nav-link {
  color: var(--olive);
  text-decoration: none;
  transition: var(--med-transition);
  transition-timing-function: ease-in-out;
  text-transform: uppercase;
}

/* hamburger menu credit to Code Complete (YouTube) */
:root {
  --bar-height: 2px;
  --gap: 6px;
  --x-height: calc(var(--bar-height) * 3 + var(--gap) * 2);
}

nav .menu {
  position: absolute;
  top: 37px;
  right: 33px;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 20px;
  width: 30px;
}

nav .menu:hover {
  cursor: pointer;
}

nav .menu span {
  height: 2px;
  width: 100%;
  background-color: var(--olive);
  border-radius: 2px;
}

nav #line-1 {
  margin-bottom: var(--gap);
  transition: all var(--slow-transition);
}

nav #line-2 {
  margin-bottom: var(--gap);
  transition: all var(--slow-transition);
}

nav #line-3 {
  transition: all var(--slow-transition);
}

/* turn hamburger menu into an X */
nav .open #line-1 {
  width: calc(sqrt(2));
  rotate: -45deg;
  translate: 0 calc((var(--bar-height) + var(--gap)));
}

nav .open #line-2 {
  opacity: 0;
}

nav .open #line-3 {
  width: calc(sqrt(2));
  rotate: 45deg;
  translate: 0 calc((var(--bar-height) + var(--gap)) * -1);
}

.center {
  text-align: center;
}

.decor-link:last-child {
  margin-right: 5vw;
}

#ul-2 {
  z-index: 10;
}

/* hover link decoration credit to https://stackoverflow.com/questions/26726436/css-bottom-border-transition-expand-from-middle */

.decor-link {
  padding-bottom: 3px;
  font-weight: 600;
  transition: 0.3s;
}

.decor-link.letter-spacing {
  letter-spacing: 0.1rem;
}

.decor-link:not(.home-video-link-wrapper) {
  position: relative;
}

.decor-link:last-child {
  margin-right: 0;
}

#ul-1 .decor-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width var(--slow-transition) ease,
    background-color var(--slow-transition) ease;
}

#ul-1 .decor-link:hover:after {
  width: 100%;
  background: var(--olive);
}
