html {
  scroll-behavior: smooth;
}

.app-all {
  min-height: calc(100vh + 8rem);
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}

body {
  background: linear-gradient(
    0deg,
    var(--background-color) 75%,
    var(--salmon) 100%
  );
  width: 100%;
  margin: 0;
  font-family: var(--body-font);
  color: var(--text-color);
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 300px) {
  #scroll-content section {
    padding: 0.5rem 10vw 0.5rem 10vw;
  }

  .grid-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .home-video-link-wrapper {
    bottom: 2rem;
    right: 2.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .hero-image {
    top: 30%;
    right: -20%;
    width: 100%;
  }

  .home-arrow-container {
    margin-top: 45vh;
  }

  .line-1 {
    line-height: 180%;
  }

  .line-2 {
    font-size: 4rem;
  }

  .slogan {
    margin-top: 1.5rem;
  }

  .about-text {
    width: 100%;
  }

  .featured-img {
    aspect-ratio: 16 / 9;
  }

  .overlay {
    visibility: hidden;
  }

  p,
  quote {
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) {
  #scroll-content section {
    padding: 2rem 10vw 2rem 10vw;
  }

  .grid-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-video-link-wrapper {
    bottom: 3rem;
    right: 5rem;
  }

  h1 {
    font-size: 3rem;
  }

  .hero-image {
    top: 10vh;
    right: 8vw;
    width: 40%;
  }

  .home-arrow-container {
    margin-top: 13vh;
  }

  .line-1 {
    line-height: 185%;
    font-size: 4rem;
  }

  .line-2 {
    font-size: 8rem;
  }

  .slogan {
    margin-top: 2.5rem;
  }

  .about-text {
    width: calc(10vh + 60vw);
  }

  .featured-img {
    aspect-ratio: 1.3 / 1;
  }

  .overlay {
    visibility: visible;
  }

  p,
  quote {
    font-size: 20px;
  }
}

#scroll-content {
  background-color: var(--background-color);
  bottom: 0;
  padding: calc(2vh + 1vw) 0 calc(2vh + 1vw) 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--header-font);
}

p {
  color: var(--text-color);
}

p,
quote {
  line-height: 150%;
}

li {
  line-height: 180%;
}

quote {
  color: var(--salmon);
  font-style: italic;
  display: block;
  padding-left: 1rem;
  border-left: 2px solid var(--salmon);
}

.main-content {
  margin: calc(5vh + 2vw) 0 calc(5vh + 2vw) 0;
  padding: 0 10vw 0 10vw;
}

.centered {
  text-align: center;
}

/* HOME */

#main-content-home {
  height: calc(100vh - 4rem - 14vw); /* window - nav - line 1 */
  padding: 0 6vw 0 6vw;
}

.line-1 {
  font-family: var(--body-font);
  font-style: italic;
  font-weight: normal;
  margin-top: 14vw;
}

.line-2 {
  font-family: var(--header-font) !important;
  font-weight: 600;
}

.hero-image {
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  mix-blend-mode: overlay;
  overflow: hidden;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(
    0.445,
    0.05,
    0.55,
    0.95
  ); /* ease-in-out sine */
}

.home-arrow {
  width: calc(4vh);
  transition: var(--slow-transition);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.home-arrow:hover {
  scale: 1.08;
  opacity: 0.8;
}

.home-arrow-container {
  display: flex;
  justify-content: center;
}

.line-1,
.line-2 {
  mix-blend-mode: hard-light;
}

.section-header {
  font-style: normal;
}

section {
  margin-bottom: 5%;
}

section:nth-child(odd) {
  text-align: left;
}

section:nth-child(even) {
  text-align: right;
}

/* HOME GALLERY */

/* ABOUT */

.about-image {
  width: calc(5vh + 30vw);
  border-radius: 50%;
  float: right;
  margin: 0 0 calc(0.5vh + 1vw) calc(1vh + 2vw);
  mix-blend-mode: lighten;
}

.normal-link {
  display: inline-block;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: underline 1px solid var(--gray);
  text-underline-offset: 2.5px;
  transition: var(--med-transition);
  transition-timing-function: cubic-bezier(
    0.445,
    0.05,
    0.55,
    0.95
  ); /* ease-in-out sine */
}

.normal-link:hover {
  color: var(--gray);
  text-decoration: underline solid var(--gray);
  text-underline-offset: 4.5px;
}

/* hover overlay credit to https://www.w3schools.com/HOWTO/howto_css_image_overlay_title.asp */
* {
  box-sizing: border-box;
}

.container {
  border-radius: calc(0.5vh + 0.25vw);
  overflow: hidden;
  background: var(--salmon);
}

.container:hover .overlay {
  opacity: 1;
}

/* CONTACT */

.contact-button-icon {
  opacity: 0.9;
  height: calc(1vw + 3rem);
  width: calc(1vw + 3rem);
  border-radius: 20%;
  margin-right: 1vh;
  padding: calc(0.8vh + 0.5vw);
  transition: var(--med-transition);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  object-fit: contain;
}

.contact-button-icon:hover {
  padding: calc(0.6vh + 0.4vw);
}

.contact-button-icon:active {
  opacity: 0.4;
}

#GitHub-button,
#YouTube-button {
  background: rgb(255, 255, 255);
}

#Discord-button {
  background: rgb(88, 101, 242);
}

#Gmail-button {
  background: rgb(234, 67, 53);
}

#Instagram-button {
  background: linear-gradient(
    135deg,
    rgb(118, 56, 250) 10%,
    rgb(211, 0, 197) 30%,
    rgb(255, 0, 105) 50%,
    rgb(255, 122, 0) 70%,
    rgb(255, 214, 0) 90%
  );
}

.contact-flex {
  display: flex;
}

/* SPECIMEN */
/* .specimen-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 2px solid var(--olive);
  width: 100%;
}

.box-image {
  mix-blend-mode: normal;
  max-width: 90%;
  max-height: calc(95% - 30px);
}

.box:hover .box-image {
  mix-blend-mode: multiply;
}

.box {
  position: relative;
  color: #fff;
  padding: 8% 8% 8% 8%;
  border: 0.5px solid var(--olive);
  object-fit: cover;
  display: block;
  width: 100%;
  text-align: center;
}

.box:hover {
  background-color: var(--tan);
}

.box-image-title {
  margin-bottom: 0;
}

.description {
  position: absolute;
  font-family: "Inconsolata", serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--olive);
  bottom: 10px;
  width: calc(100% - 40px);
  padding: 5px;
  margin-top: 25px;
  text-align: left;
} */

.featured-img {
  transition: 0.3s;
  object-fit: cover;
  display: block;
  width: 100%;
  transition: var(--slow-transition);
}

.featured-img:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.overlay {
  opacity: 0;
  color: var(--text-color);
  font-size: 2.5vh;
  font-weight: bold;
  margin: -8vh 0 0 5vh;
  position: absolute;
  transition: 0.3s;
}

.grid-items {
  display: grid;
  align-items: start;
  gap: 2vh;
  margin-top: 1rem;
}

.home-text {
  width: 75%;
}
